<!DOCTYPE html>
<html ng-app="MessageApp">
<head>
	<title>messageapp</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap_theme.min.css">
	<link rel="stylesheet" type="text/css" href="/css/site.css">
</head>
<body>
	<ui-view></ui-view>
	<script src="/angular/angular.min.js"></script>
	<script src="/angular-ui-router/release/angular-ui-router.min.js"></script>
	<script src="/javascript/app.js"></script>
	<script src="/javascript/controllers/MainController.js"></script>
	<script src="/javascript/controllers/EditMessageController.js"></script>
	<script src="/javascript/controllers/AddMessageController.js"></script>
	<script src="/javascript/services/MessageFactory.js"></script>

</body>
</html>
